<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>

    <%- include("../partials/adminHead") %>
    <link rel="stylesheet" href="/styles/adminPages/orderDetails.css" />
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <h3 class="text-white text-center">Chipkart Admin</h3>
      <a href="/admin"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
      <a href="/admin/users"><i class="fas fa-users"></i> User Management</a>
      <a href="/admin/products"
        ><i class="fas fa-cogs"></i> Product Management</a
      >
      <a href="/admin/categories"
        ><i class="fas fa-tags"></i> Category Management</a
      >
      <a href="/admin/offers"><i class="fas fa-gift"></i> Offer Module</a>
      <a href="/admin/orders" class="sidebar-active"
        ><i class="fas fa-box"></i> View Orders</a
      >
      <a href="/admin/reports"
        ><i class="fas fa-chart-line"></i> Sales Report</a
      >
      <a href="/admin/coupons"><i class="fas fa-gift"></i> Coupon Management</a>
    </div>

    <!-- Main Content -->
    <div class="content-wrapper">
      <!-- Navbar -->
      <%- include("../partials/adminHeader") %>

      <div class="main-content">
        <div class="order-details-container">
          <div class="order-details-head">
            <div class="order-data-actions">
              <p><strong>Order ID:</strong> <%= orderDetails.orderId %></p>
              <p>
                <strong>Order Date:</strong>
                <%= new Date(orderDetails.createdAt).toLocaleDateString("en-GB",
                { day: "2-digit", month: "2-digit", year: "2-digit" }) %>
              </p>

              <p>
                <strong>Delivery Date:</strong>
                <%= new Date(orderDetails.deliveryDate).toLocaleDateString("en-GB",
                { day: "2-digit", month: "2-digit", year: "2-digit" }) %>
              </p>

              <% if(orderDetails.isCancelled) { %>
              <p class="text-danger">
                Order Cancelled for the reason: <%= orderDetails.cancelReason %>
              </p>
              <% } else { %>
              <div class="cancel-actions">
                <input
                  type="text"
                  id="cancelReason"
                  class="cancel-reason-input"
                  placeholder="Enter reason"
                />
                <button class="cancel-order-btn">Cancel Order</button>
              </div>
              <% } %>
            </div>
            <div class="back-btn-wrapper">
              <button class="back-btn" onclick = "window.history.back();">
                <i class="fa-solid fa-circle-arrow-left"></i>Back
              </button>
            </div>
          </div>

          <div class="order-info-cards-container">
            <div class="card">
              <h3>Customer</h3>
              <p>Name: <span id="userName"></span></p>
              <p>Email: <span id="userEmail"></span></p>
              <p>Phone: <span id="userPhone"></span></p>
            </div>
            <div class="card">
              <h3>Delivery Info</h3>
              <p>Reciver: <span id="reciver">Anandakrishnan H</span></p>
              <p>Phone: <span id="phone">9588465696</span></p>
              <p>Address: <span id="address"></span></p>
              <p>Landmark: <span id="landmark"></span></p>
            </div>
            <div class="card">
              <h3>Payment Info</h3>
              <p>
                Payment Method: <span><%= orderDetails.paymentMethod %></span>
              </p>
              <p>Total Amount: <span><%= orderDetails.totalAmount %></span></p>
              <p>Discount: <span><%= orderDetails.discount %></span></p>
              <p>
                Total Payable: <span><%= orderDetails.totalPayable %></span>
              </p>
              <p>
                Payment Status: <span><%= orderDetails.paymentStatus %></span>
              </p>
            </div>
          </div>

          <div class="items-container">
            <h3>Items</h3>
            <table class="table table-bordered text-center order-items-table">
              <thead class="thead-dark">
                <tr>
                  <th>No</th>
                  <th>Product</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Subtotal</th>
                  <th>Is Return Requested</th>
                  <th>Reason</th>
                  <th>Confirm Return</th>
                </tr>
              </thead>
              <tbody id="orderItemTable"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <%- include("../partials/adminFooter") %>
    <script src="/javascripts/admin/orderDetails.js"></script>
  </body>
</html>
