<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/styles/productDetails.css" />
    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <%- include("../partials/userHeader") %>

    <div class="page-wrapper content-wrapper">
      <div class="selected-product">
        <div class="left-section">
          <div class="small-images">
            <% if(product && product.images) { %> <%
            product.images.forEach((image) => { %>
            <div class="small-image">
              <img src="<%= image.filepath ? image.filepath : '/images/default/default.jpg' %>" alt="Product Image" />
            </div>
            <% }); %> <% } else { %>
            <p>No images available.</p>
            <% } %>
          </div>
          <div class="large-image">
            <div
              id="imageZoom"
              style="
                --url: url(<%= product.images[0].filepath ? product.images[0].filepath : '/images/default/default.jpg'  %>);
                --zoom-x: 0%;
                --zoom-y: 0%;
                --display: none;
              "
            >
              <img
                src="<%= product.images[0].filepath ? product.images[0].filepath : '/images/default/default.jpg' %>"
                alt="Product Image"
              />
              <div class="wishlist-icon">
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="right-section">
          <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/products">Product</a></li>
              <li class="breadcrumb-item breadcrumb-last">
                <a href=""><%= product.productName %></a>
              </li>
            </ol>
          </nav>
          <div class="product-info">
            <p class="brand-name"><%= product.brand %></p>
            <h2 class="product-name"><%= product.productName %></h2>
            <div class="rating">
              <div class="rating-box">
                <p>★<span>4.5</span></p>
              </div>
              <p class="count"><span>8</span>Reviews</p>
            </div>
            <div class="price">
              <span class="current-price">₹<%= product.finalPrice %></span>
              <span class="mrp">₹<%= product.mrp %></span>
            </div>
            <p class="discount"><%= product.discount %>% Discount Applied</p>

            <p class="description"><%= product.description %></p>
            <div class="keypoints">
              <ul>
                <% product.highlights.forEach((highlight) => { %>
                <li><%= highlight %></li>
                <% }); %>
              </ul>
            </div>
            <div class="stock-availability <%= product.quantity === 0 ? 'text-danger' : '' %>">
              <%= product.quantity === 0 ? 'Out of Stock' : `In Stock: ${product.quantity} units` %>
            </div>
            
            <div class="buttons">
              <% if (product.quantity > 0) { %>
                <button class="add-to-cart" onClick="addToCart('<%= product._id %>')">Add to Cart</button>
                <button class="buy-now">Buy Now</button>
              <% } else { %>
                <button class="bg-dark" style="cursor: not-allowed;" disabled>Out of Stock</button>
              <% } %>
              
              
            </div>
          </div>
        </div>
      </div>

      <!-- reviews  -->
      <div class="product-reviews-section">
        <div class="reviews-section-head">
          <div class="review-head">
            <h3>Ratings & Reviews</h3>
            <button id="rateBtn">Rate Product</button>
          </div>
          <div class="total-review">
            <div class="total-review-overal" id="averageRating">
              <p class="overal">Nothing to show</p>
            </div>
          </div>
        </div>
        <div class="reviews-content" id="reviewsContainer"></div>
        <div class="paginators">
          <button disabled id="prevBtn">Prev</button>
          <button id="nxtBtn">Next</button>
        </div>
      </div>

      <!-- related Products -->
      <div class="page-section">
        <div class="section-header">
          <p>Related Products</p>
          <hr class="header-line" />
        </div>
        <!-- products  -->
        <div class="products" id="relatedProductsDiv">
          <!-- Product Cards -->
          <a href="/product/1" class="product-link">
            <div class="product-card">
              <div class="product-image">
                <img
                  src="/images/default/default.jpg"
                  alt="Product 1"
                />
              </div>
              <div class="card-product-details">
                <div class="product-brand">
                  <p class="card-product-brand">Product 1</p>
                  <p class="card-product-name">Product Name with one line only coverd</p>
                </div>
                <div class="card-product-prices">
                  <p class="card-product-price">$100</p>
                  <p class="card-product-discount">5% Off</p>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>
    <%- include("../partials/userFooter") %>

    <script>
      window.productId = "<%- product._id.toString() %>";
    </script>
    <script src="/javascripts/apiCalls/productDetailPage.js"></script>
    <script src="/javascripts/apiCalls/common.js"></script>
  </body>
</html>
