<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>

    <%- include("../../partials/adminHead") %>

        <!-- Cropper.js CSS -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"
    rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/adminPages/categoryForm.css" />
  </head>
  <body>
    <!-- Sidebar -->
    <%- include("../../partials/adminSidebar") %>

    <!-- Main Content -->
    <div class="content-wrapper">
      <!-- Navbar -->
      <%- include("../../partials/adminHeader") %>

      <div class="main-content">
        <div class="page-head-section">
          <button class="back-button" id="backButton">Back</button>
        </div>
        <form
          id="updateCategoryForm"
          class="category-form"
          method="post"
        >
          <div class="form-group-row">
            <div class="form-group">
              <label for="categoryName">Category Name</label>
              <input
                type="text"
                class="form-control"
                id="categoryName"
                name="categoryName"
                required
              />
            </div>
            <div class="form-group">
              <label for="isListed">List Status</label>
              <select id="isListed" name="isListed" class="form-control" required>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
              
            </div>
          </div>
          <small class="text-danger" id="error"></small>

          <div class="image-container mt-4">
            <label class="image-box" for="imageInput">
              <img id="previewImage" style="display: flex;"/>
            </label>
            <input type="file" id="imageInput" accept="image/*" />
          </div>

          <div class="savebtn-container">
            <button type="submit" class="savebtn" id="savebtn">
              Save Category
            </button>
          </div>
          <% if(errorMessage) { %>
            <small class="text-danger text-center mt-3"><%= errorMessage %></small>
            <% } %>
            <% if(successMessage) { %>
              <small class="text-success text-center mt-3"><%= successMessage %></small>
              <% } %>
        </form>
      </div>
    </div>

    <div id="imageModal" class="imageModal">
      <div class="modal-content">
        <img id="image" src="" alt="" />
        <button id="cropButton">Crop</button>
      </div>
    </div>

    <script>
      const categoryData = '<%- JSON.stringify(category) %>';
    </script>
    
    <%- include("../../partials/adminFooter") %>
    <script src="/javascripts/admin/updateCategory.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>

  </body>
</html>
