<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Wallet</title>
    <link rel="stylesheet" href="/styles/account.css" />
    <link rel="stylesheet" href="/styles/userPages/wallet.css" />
    <%- include("../../partials/head") %>
  </head>
  <body>
    <%- include("../../partials/userHeader") %>

    <div class="account-wrapper page-wrapper">
      <div class="content-wrapper profile-container">
        <%- include("../../partials/userSidebar") %>

        <div class="profile-data">
          <div class="profie-content-wrapper">
            <div class="content-section">
              <div class="account-title">
                <p class="page-title">My Wallet</p>
                <div class="balance-div">
                  <p class="balance-text">
                    Balance:
                    <span style="color: green">₹<%= wallet.balanceLeft %></span>
                  </p>
                </div>
              </div>

              <!-- show transactions dynamically here  -->
              <div class="transactions-container"></div>

              <div class="pagination mt-4">
                <button id="prevBtn" class="pagination-btn" disabled>
                  <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button id="nextBtn" class="pagination-btn">
                  <i class="fa-solid fa-chevron-right"></i>
                </button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../partials/userFooter") %>
    <script src="/javascripts/user/walletPage.js"></script>
  </body>
</html>
