<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Orders</title>
    <link rel="stylesheet" href="/styles/account.css" />
    <link rel="stylesheet" href="/styles/userPages/orderDetails.css" />
    <%- include("../../../partials/head") %>
  </head>
  <body>
    <%- include("../../../partials/userHeader") %>

    <div class="account-wrapper page-wrapper">
      <div class="content-wrapper profile-container">
        <%- include("../../../partials/userSidebar") %>

        <div class="profile-data">
          <div class="profie-content-wrapper">
            <div class="content-section">
              <div class="account-title">
                <p class="page-title">Order Summary</p>
                <a class="back-btn" href="/account/orders">
                  <i class="fa-solid fa-circle-arrow-left"></i> Back
                </a>
              </div>
              <!-- orders wrapper  -->
              <div class="orderDetails container mt-4">
                <div class="row">
                  <!-- Order Info Card -->
                  <div class="col-md-4">
                    <div class="details-card card shadow-sm">
                      <div class="card-body">
                        <p class="card-title">Order Info</p>
                        <p>
                          <label>Order ID:</label> <%= orderDetails.orderId %>
                        </p>
                        <p>
                          <label>Order Date:</label>
                          <%= new
                          Date(orderDetails.createdAt).toLocaleDateString("en-GB",
                          { day: "2-digit", month: "2-digit", year: "2-digit" })
                          %>
                        </p>
                        <p>
                          <label>Delivery Date:</label>
                          <%= new
                          Date(orderDetails.deliveryDate).toLocaleDateString("en-GB",
                          { day: "2-digit", month: "2-digit", year: "2-digit" })
                          %>
                        </p>

                        <% if (!orderDetails.isCancelled ) { %>
                        <button class="invoiceBtn" onclick="generateInvoice()">
                          Download Invoice
                        </button>
                        <% } %> <% if (!orderDetails.isCancelled &&
                        orderDetails.orderStatus !== 'Delivered') { %>
                        <button
                          class="btn btn-danger btn-sm mt-2"
                          id="cancelOrderBtnOpen"
                        >
                          Cancel Order
                        </button>
                        <% } else if(orderDetails.isCancelled) { %>
                        <p class="text-danger mt-4">
                          Cancelled due to:&nbsp;<%= orderDetails.cancelReason
                          %>
                        </p>
                        <% } else {%>
                        <p class="text-success mt-4">Delivered</p>
                        <% } %> <% if (orderDetails.orderStatus === 'Delivered')
                        { %>
                        <button
                          class="btn btn-warning btn-sm"
                          id="returnBtn"
                          onclick="returnProduct()" >
                          Return a Product
                        </button>
                        <% } else if(orderDetails.orderStatus === 'Pending') { %>
                        <button class="btn btn-warning btn-sm mt-2" id="retryPayBtn">
                          <%= orderDetails.paymentMethod === "Online" ? "Retry Payment" : "Pay Now" %>
                        </button>
                        <% } %>
                      </div>
                    </div>
                  </div>

                  <!-- Delivery Details Card -->
                  <div class="col-md-4">
                    <div class="details-card card shadow-sm">
                      <div class="card-body">
                        <p class="card-title">Delivery Details</p>
                        <p>
                          <label>Recipient:</label>&nbsp;<span
                            id="recipient"
                          ></span>
                        </p>
                        <p>
                          <label>Phone:</label>&nbsp;<span id="phone"></span>
                        </p>
                        <p>
                          <label>Address:</label>&nbsp;<span
                            id="address"
                          ></span>
                        </p>
                        <p>
                          <label>Landmark:</label>&nbsp;<span
                            id="landmark"
                          ></span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <!-- Payment Details Card -->
                  <div class="col-md-4">
                    <div class="details-card card shadow-sm">
                      <div class="card-body">
                        <p class="card-title">Payment Details</p>
                        <p>
                          <label>Gross Amount:</label> ₹ <%=
                          orderDetails.totalAmount %>
                        </p>
                        <p>
                          <label>Shipping Fee:</label> ₹ <%=
                          orderDetails.shippingFee %>
                        </p>
                        <p>
                          <label>Discount:</label>
                          <span>₹ <%= orderDetails.discount %></span>
                        </p>
                        <p class="fw-bold">
                          <label>Total Amount:</label> ₹ <%=
                          orderDetails.totalPayable %>
                        </p>
                        <p>
                          <label>Payment Method:</label> <%=
                          orderDetails.paymentMethod %>
                        </p>
                        <% if (orderDetails.paymentMethod === 'Online') { %>
                        <p>
                          <label>Razorpay Method:</label> <%=
                          orderDetails.razorpayPaymentMethod %>
                        </p>
                        <% } %>
                        <p>
                          <label>Payment Status:</label>
                          <span><%= orderDetails.paymentStatus %></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-fluid mt-4" style="padding: 0">
                  <p class="page-title">Order Items</p>
                  <div id="orderItemsContainer">
                    <!-- <div
                      class="order-item card shadow-sm p-3 d-flex flex-row align-items-center"
                    >
                      <div class="product-img-container">
                        <img
                          src="/images/sample-product.jpg"
                          alt="Product Image"
                          class="product-img"
                        />
                      </div>

                      <div class="product-details flex-grow-1 px-3">
                        <p class="product-name mb-1">Luxury Watch</p>
                        <p class="product-price mb-1">Unit Price: ₹2,500</p>
                        <p class="product-quantity mb-0">Quantity: 2</p>
                      </div>

                      <div class="product-total text-end">
                        <p>Sub Total: <span>50,000</span></p>
                      </div>
                    </div> -->
                  </div>
                </div>

                <div
                  class="container-fluid mt-4"
                  style="padding-left: 0"
                  id="couponDiv"
                >
                  <!-- <div class="coupon-strip">
                    <p>You got <span>20%</span> Off Coupon in this order</p>
                    <small>Coupon Will be credited at the time of delivery</small>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- dialoge modal  -->
    <div id="dialogModal" class="dialog">
      <div class="dialog-content">
        <form id="cancelOrderForm">
          <label for="cancelReason">Why are you canceling this order?</label>
          <p class="errorText">
            <small id="resonError" class="text-danger"></small>
          </p>
          <p class="errorText">
            <small id="resonSuccess" class="text-success"></small>
          </p>

          <input
            type="text"
            id="cancelReason"
            class="dialogInput"
            placeholder="Enter reason..."
          />
          <button type="submit" class="submitBtn">Cancel Order</button>
          <button type="button" id="closeBtn" class="closeBtn">Close</button>
        </form>
      </div>
    </div>

    <!-- return order item  -->
    <div id="returnDialogModal" class="dialog">
      <div class="dialog-content">
        <form id="returnItemForm">
          <label for="returnReason">Why are you canceling this order?</label>
          <p class="errorText">
            <small id="resonError" class="text-danger"></small>
          </p>
          <p class="errorText">
            <small id="resonSuccess" class="text-success"></small>
          </p>

          <input
            type="text"
            id="returnReason"
            class="dialogInput"
            placeholder="Enter reason..."
          />
          <button type="submit" class="submitBtn">Cancel Order</button>
          <button type="button" id="closeBtn" class="closeBtn">Close</button>
        </form>
      </div>
    </div>

    <%- include("../../../partials/userFooter") %>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      const orderMessage = "<%= orderMessage %>";
      const orderErrorMessage = "<%= orderErrorMessage %>";
      const couponMessage = "<%= couponMessage %>";

      if (orderMessage) {
        toastr.success(orderMessage);
      }

      if (orderErrorMessage) {
        toastr.error(orderErrorMessage, "Error", {
          closeButton: true,
          timeOut: 5000,
        });
      }

      if (couponMessage) {
        toastr.success(couponMessage, "Success", {
          closeButton: true,
          timeOut: 5000,
        });
      }
    </script>
    <script src="/javascripts/user/orderDetails.js"></script>
  </body>
</html>
